// btn
.btn-fb {
    color: #fff;
    background-color: #4264aa !important;
}

.btn-tw {
    color: #fff;
    background-color: #147bc9 !important;
}

.btn-gplus {
    color: #fff;
    background-color: #96271a !important;

}