#Navbar {
    margin-bottom: 1px;
    .dropdown {
        position: static;
        .sub-title{
            border-bottom: 1px solid #e0e0e0;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
        }
        .list-unstyled{
            li{
                display: flex;
                a{
                    color: #fff;
                }
            }
        }
        &:hover {
            .dropdown-menu {
                display: block;
            }
        }
        
    }

}